[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
asyncpg = "*"
aioredis = "*"
loguru = "*"
uvloop = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
flake8-polyfill = "*"
flake8-quotes = "*"
flake8-variables-names = "*"
pyflakes = "*"
pep8-naming = "*"
flake8-black = "*"
black = "==21.6b0"
mypy = "*"
